body {
    background-color:white;
}

.para{
    text-align: center;
}
.bullet ul{
    padding-inline-start: 45%;
}
.middlelinks{
    text-align: center;
    margin: 0%;
}
.middlelinks ul{
    padding: 0%;
}
.middlelinks li{
    margin: 0%;
    text-decoration: none;
    list-style-type: none;
    display: inline-block;
}
.middlelinks button{
    min-width: 10rem;
}
.carousel{
    width: 50%;
    margin: auto;
}

.card{
    display: inline-block;
    margin: 5px;
    min-height: 60vh;
    vertical-align: top;
}

.register{
    max-width: 800px;
    margin: 20px auto;
    background-color: #ffffff00;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.radi label{
    display: block;
}

.Register h1{
    text-align: center;
}

.login{
    max-width: 800px;
    margin: 20px auto;
    background-color: #ffffff00;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group{
    margin-top: 1rem;
    display: block;
    text-align: center;
}

#log{
    text-align: center;
}

.container{
    max-width: 800px;
    margin: 20px auto;
    background-color: #ffffff00;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.info{
    width: 100%;
}
#Summary h3{
    padding-inline-start: 200px;
}
#Summary table{
    width: 50%;
    margin: 20px auto;
}
#info{
    display: block;
    margin-bottom: 5px;
}

#checkout{
    text-align: center;
}
#headerlogo{
    height: 60px;
}
#co{
    text-align: center;
    margin-top: 4%;
}
.options{
    text-align: center;
    margin-top: 4%;
}
.option{
    text-align: center;
    margin-top: 2%;
}
.remember{
    text-align: center;
    margin-top: 1%;
}
.container-fluid{
    background-color: #ffffff;
}
.resetpassword{
    display: block;
    text-align: center;
    max-width: 479px;
    margin: 100px auto;
    background-color: #ffffff00;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.resetpassword p{
    color: rgb(128, 119, 119);
}
.resetpassword input{
    margin: 3%;
}

.container-fluid{
    background-color: black;
}
.nav-link{
    color: #ffffff;
}
.nav-link:hover {
    color: #ffffff;
  }
.navbar-toggler{
    color: rgb(62, 62, 69);
}
#R{
    text-align: center;
}
.register h1{
    text-align: center;
}
