body {
    background-color:white;
}

.para{
    text-align: center;
}
.middlelinks{
    text-align: center;
    margin: 0%;
}
.middlelinks ul{
    padding: 0%;
}
.middlelinks li{
    margin: 0%;

    text-decoration: none;
    list-style-type: none;
    display: inline-block;
}
.middlelinks button{
    min-width: 10rem;
}
.carousel{
    width: 50%;
    margin: auto;
}

.card{
    display: block;
    margin-bottom: 5px;
}

.register{
    max-width: 800px;
    margin: 20px auto;
    background-color: #ffffff00;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.radi label{
    display: block;
}

#R{
    text-align: center;
}

.login{
    max-width: 800px;
    margin: 20px auto;
    background-color: #ffffff00;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group{
    margin-top: 1rem;
    display: block;
    text-align: center;
}

#log{
    text-align: center;
}

.container{
    max-width: 800px;
    margin: 20px auto;
    background-color: #ffffff00;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.info{
    width: 100%;
}
#Summary table{
    width: 50%;
    margin: 20px auto;
}
#info{
    display: block;
    margin-bottom: 5px;
}

#checkout{
    text-align: center;
}
#headerlogo{
    height: 60px;
}
#co{
    text-align: center;
    margin-top: 4%;
}
.options{
    text-align: center;
    margin-top: 4%;
}
.option{
    text-align: center;
    margin-top: 2%;
}
.container-fluid{
    background-color: #ffffff;
}
